#!/bin/bash

# Set environment variables manually (Modify as needed)
export ORACLE_SID={{ databases[database_name].db_sid }}
export ORACLE_HOME={{ databases[database_name].oracle_db_home }}
export PATH={{ databases[database_name].oracle_db_home }}/bin:$PATH

# Identify if the host is PRIMARY or STANDBY
if [[ "$(hostname -s)" == "{{ primary_host }}" ]]; then
    QUERY="SELECT SEQUENCE# FROM V\$LOG WHERE STATUS='CURRENT';"
elif [[ "$(hostname -s)" == "{{ standby_host }}" ]]; then
    QUERY="SELECT SEQUENCE# FROM V\$MANAGED_STANDBY WHERE PROCESS='MRP0';"
else
    echo "Invalid argument. "
    exit 1
fi

# Run SQL Query
SEQUENCE_NUM=$(su - {{ db_oracle_user }} -c "sqlplus -s / as sysdba" <<EOF
SET PAGESIZE 0 FEEDBACK OFF VERIFY OFF HEADING OFF ECHO OFF;
$QUERY
EXIT;
EOF
)

# Print Sequence Number
echo "$SEQUENCE_NUM"
