#!/bin/bash

export ORACLE_SID=$(ps -ef | grep pmon | grep ASM | awk '{match($NF, /\+ASM[0-9]*/); print substr($NF, RSTART, RLENGTH)}')
export ORACLE_HOME=$(awk -F: -v sid="$ORACLE_SID" '$1 == sid {print $2}' /etc/oratab)
export PATH=$PATH:$ORACLE_HOME/bin

MASTER_LOG="{{ done_dir }}/standby_rman_restore.log"
FAILURE_LOG="{{ done_dir }}/standby_rman_restore_fail.log"

# Ensure log files are empty before running
> "$MASTER_LOG"
> "$FAILURE_LOG"

# Fetch the disk group name from standby ASM
su - {{ grid_user }} -c "sqlplus -s / as sysdba" <<SQL | tee "$MASTER_LOG"
SET HEADING OFF
SET FEEDBACK OFF
SET PAGESIZE 0
SET LINESIZE 1000
SET TRIMOUT ON
SET TRIMSPOOL ON

-- Fetch ASM disk group
SELECT 'DISKGROUP:' || NAME FROM v\$asm_diskgroup WHERE STATE='MOUNTED';

SQL

DISKGROUP=$(grep "DISKGROUP:" "$MASTER_LOG" | awk -F ':' '{print $2}')

# Check if disk group was retrieved
if [[ -z "$DISKGROUP" ]]; then
  echo "ERROR:Failed to fetch disk group from standby ASM, verify manually and retry" | tee -a "$FAILURE_LOG"
  exit 1
fi

diskgroup="+${DISKGROUP}"

export ORACLE_SID={{ databases[database_name].oracle_db_sid }}
export ORACLE_HOME={{ databases[database_name].oracle_db_home }}
export PATH={{ databases[database_name].oracle_db_home }}/bin:$PATH

# Start standby DB

su - {{ db_oracle_user }} -c "sqlplus -s / as sysdba" <<SQL | tee "$MASTER_LOG"
startup nomount;
SQL

# Run rman restore

{% set backup_format = backup_location ~ '/%U' %}
{% set ctrl_backup_format = backup_location ~ '/controlfile_%d_%T_%s_%p.bkp' %}
{% set controlfile_tag = "CONTROLFILE_BACKUP" %}
{% set fullbackup_tag = "FULL_ARC_BACKUP" %}

# Get the latest control file backup
LATEST_CONTROLFILE=$(ls -t {{ backup_location }}/controlfile_*.bkp  | head -1)

# Check if a control file backup exists
if [[ -z "$LATEST_CONTROLFILE" ]]; then
    echo "ERROR: No control file backup found!"
    exit 1
fi

echo "Using latest control file backup: $LATEST_CONTROLFILE"

su - {{ db_oracle_user }} -c "rman target /" <<EOF | tee "$MASTER_LOG"
RUN {
    ALLOCATE CHANNEL ch1 DEVICE TYPE DISK;
    ALLOCATE CHANNEL ch2 DEVICE TYPE DISK;
    ALLOCATE CHANNEL ch3 DEVICE TYPE DISK;
    ALLOCATE CHANNEL ch4 DEVICE TYPE DISK;
    
    set dbid {{ dbid }};
    
    # Identify the latest control file backup dynamically
    restore standby controlfile from '$LATEST_CONTROLFILE';
    sql "alter database mount standby database";
    
    # Catalog the backup pieces if needed
    catalog start with '{{ backup_location }}/' noprompt;
    
    # Restore database
    set newname for database to '${diskgroup}';
    restore database;
    switch datafile all;
    recover database;

    RELEASE CHANNEL ch1;
    RELEASE CHANNEL ch2;
    RELEASE CHANNEL ch3;
    RELEASE CHANNEL ch4;
}
EXIT;
EOF

# Capture RMAN exit status
rman_exit_code=$?

# Check if the RMAN command was successful
if [ $rman_exit_code -eq 0 ] && grep -qi "Finished restore at" "$MASTER_LOG" && grep -qi "Media Recovery complete" "$MASTER_LOG"; then
    echo "RMAN restore completed successfully." | tee -a $MASTER_LOG
    touch "{{ done_dir }}/standby_restore.success"
else
    echo "RMAN restore failed! Check logs for details: $MASTER_LOG" | tee -a "$FAILURE_LOG"
    exit 1
fi

#Check for failures and exit accordingly
if [[ -s "$FAILURE_LOG" ]]; then
    cat "$FAILURE_LOG"
    rm -f "$FAILURE_LOG"
    exit 1
fi

echo "RMAN restore performed for standby database successfully!"
rm -f "$FAILURE_LOG"
exit 0