#!/bin/bash

export ORACLE_SID={{ databases[database_name].oracle_db_sid }}
export ORACLE_HOME={{ databases[database_name].oracle_db_home }}
export PATH={{ databases[database_name].oracle_db_home }}/bin:$PATH

MASTER_LOG="{{ done_dir }}/primary_rman_backup.log"
FAILURE_LOG="{{ done_dir }}/primary_rman_backup.log"

# Ensure log files are empty before running
> "$MASTER_LOG"
> "$FAILURE_LOG"

# Run rman backup

{% set backup_format = backup_location ~ '/%U' %}
{% set ctrl_backup_format = backup_location ~ '/controlfile_%d_%T_%s_%p.bkp' %}
{% set controlfile_tag = "CONTROLFILE_BACKUP" %}
{% set fullbackup_tag = "FULL_ARC_BACKUP" %}

su - {{ db_oracle_user }} -c "rman target /" <<EOF | tee "$MASTER_LOG"
RUN {
    ALLOCATE CHANNEL ch1 DEVICE TYPE DISK FORMAT '{{ backup_format }}';
    ALLOCATE CHANNEL ch2 DEVICE TYPE DISK FORMAT '{{ backup_format }}';
    ALLOCATE CHANNEL ch3 DEVICE TYPE DISK FORMAT '{{ backup_format }}';
    ALLOCATE CHANNEL ch4 DEVICE TYPE DISK FORMAT '{{ backup_format }}';
    
    # Backup full database with a distinct tag
    BACKUP DATABASE FORMAT '{{ backup_format }}' TAG '{{ fullbackup_tag }}' PLUS ARCHIVELOG;
    
    # Backup control file separately with a distinct tag
    BACKUP CURRENT CONTROLFILE FOR STANDBY FORMAT '{{ ctrl_backup_format }}' TAG '{{ controlfile_tag }}';
    
    RELEASE CHANNEL ch1;
    RELEASE CHANNEL ch2;
    RELEASE CHANNEL ch3;
    RELEASE CHANNEL ch4;
}
EXIT;
EOF

# Capture RMAN exit status
rman_exit_code=$?

# Check if the RMAN command was successful
if [ $rman_exit_code -eq 0 ]; then
    echo "RMAN Backup completed successfully." | tee -a $MASTER_LOG
    touch "{{ done_dir }}/rman.success"
    exit 0
else
    echo "RMAN Backup failed! Check logs for details: $MASTER_LOG" | tee -a "$FAILURE_LOG"
    exit 1
fi

#Check for failures and exit accordingly
if [[ -s "$FAILURE_LOG" ]]; then
    cat "$FAILURE_LOG"
    rm -f "$FAILURE_LOG"
    exit 1
fi

echo "RMAN backup performed for primary database successfully!"
rm -f "$FAILURE_LOG"
exit 0