#!/bin/bash

export ORACLE_SID={{ databases[database_name].oracle_db_sid }}
export ORACLE_HOME={{ databases[database_name].oracle_db_home }}
export PATH={{ databases[database_name].oracle_db_home }}/bin:$PATH

su - {{ db_oracle_user }} <<EOF
sqlplus -s / as sysdba <<SQL
set heading off feedback off trimspool on linesize 200 pagesize 0;
{{ sql_query }}
exit;
SQL
EOF
